@media only screen and (max-width: 800px) {

    h1#title {
        padding-top: 15%;
        font-size: 120%;
    }

    p#title-caption {
        font-size: 50%;
        padding: 2px 0px;
    }

    figcaption#img-caption {
        padding: 2% 0%;
        font-size: 40%;
        color: #919191;
    }

    h2#headline {
        padding: 12% 0%;
        font-size: 80%;
        text-align: justify;
    }

    li {
        margin: 12% 7%;
        font-variant-caps: petite-caps;
        text-align: justify;
    }

    section#tribute-info {
        margin: 3% 8%;
    }

    h3#bottomtxt {
        padding: 12% 0%;
        font-size: 80%;
        font-weight: 100;
    }
    }